<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Testing</title>
    </head>
    <body style="background-color:#afded7;">
        <div class="container">
            <center>
        	    <h1>House Life Expectancy</h1>
            </center>
            <form method="GET" style="padding-top: 35px;padding-left:250px;">
                <p>Number of years the house can sustain : {{s}} years</p>
                <p>Price of the house : {{s1}} /-</p>
            </form>
        </div>
    </body>
</html>